#gameCanvas {
  display: block;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#btnStart {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.7);
  padding: 4px 8px;
  border-radius: 6px;
  margin: 4px 0;
}
